body {
    color: #434656; /* Updated */
    margin: 0;
    text-align: center;
    font-family: 'Space Mono', monospace;
}

nav {
    background-color: #434656;
    padding: 15px;
}
h1 {
    margin: 50px auto 0 auto;
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    color: #CEA716; /* Updated */
}

h2 {
    font-size: 2.5rem;
    color: #CEA716; /* Updated */
    font-weight: normal;
    padding: 10px;
}

h3 {
    color: #434656; /* Updated */
}

hr {
   border: dotted #A7AABC 6px; /* Updated */
   border-bottom: none;
   width: 4%;
   margin: 100px auto;
}

p {
    line-height: 2;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.intro {
    width: 40%;
    margin: auto;
    text-align: justify;
}

.web-development {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.computer-repair {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-usmessage {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #007FFF; /* Updated */
    background-image: -webkit-linear-gradient(top, #007FFF, #434656); /* Updated */
    background-image: -moz-linear-gradient(top, #007FFF, #434656); /* Updated */
    background-image: -ms-linear-gradient(top, #007FFF, #434656); /* Updated */
    background-image: -o-linear-gradient(top, #007FFF, #434656); /* Updated */
    background-image: -webkit-gradient(to bottom, #007FFF, #434656); /* Updated */
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    font-family: 'Space Mono', monospace;
    width: 200px;
    font-size: 21px;
    font-weight: 100;
    padding: 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    border: solid #B20037 1px; /* Updated */
    background: #434656; /* Updated */
    background-image: -webkit-linear-gradient(top, #434656, #007FFF); /* Updated */
    background-image: -moz-linear-gradient(top, #434656, #007FFF); /* Updated */
    background-image: -ms-linear-gradient(top, #434656, #007FFF); /* Updated */
    background-image: -o-linear-gradient(top, #434656, #007FFF); /* Updated */
    background-image: -webkit-gradient(to bottom, #434656, #007FFF); /* Updated */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
}

a {
    color: #007FFF; /* Updated */
    font-family: 'Space Mono', monospace;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #F13765; /* Updated */
}

.copyright {
    color: grey;
    font-size: 0.75rem;
    margin: 10px auto 20px;
}

.top-container {
    background-image: url('../images/pexel.jpg');
    position: relative;
    padding: 180px;
}

.middle-container {
    padding: 50px;
    background-image: linear-gradient(to right top, #add8e6, #8be1e7, #71e8d8, #72edba, #90ee90);
}

.bottom-container {
    background-color: #434656; /* Updated */
    padding: 50px 0px 20px;
}

.top-cloud {
    position: absolute;
    right: 450px;
    top: 130px;
}

.bottom-cloud {
    position: absolute;
    left: 400px;
    bottom: 300px;
}
