body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: gray;
    padding: 20px;
}

h1 {
    color: white;
    margin: 0px;
}

section {
    padding: 50px;
    background-color: beige;
}

footer {
    background-color: gray;
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 0.8rem;
    color: white;
}

/* Media Query */


/* For small screens */
@media only screen and (min-width: 767px) {
    section {
        background-color: skyblue;
    }
}


/* For Large Screens */

@media only screen and (max-width: 1024px) {
    section {
        background-color: yellow;
    }
}